body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

/* Topbar */
.topbar {
    display: flex;
    align-items: center;
    background: #0a6e87e4;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.toggle-btn {
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    position: relative;
    top: 3px;   /* fine-tune vertical position */
}

/* .toggle-btn {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
} */

/* Sidebar */
.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 220px;
    height: 100%;
    background: #0a6e87e4;
    color: white;
    transition: 0.3s;
    padding-top: 20px;
    margin-top: 37px;
}

.sidebar h3 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed h3,
.sidebar.collapsed ul li a {
    display: none;
}

/* Main Content */
.main-content {
    margin-left: 220px;
    padding: 20px;
    transition: 0.3s;
}

/* When sidebar collapsed */
.main-content.expanded {
    margin-left: 60px;
}

/* Cards */
.cards {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.card {
    background: #3498db;
    color: white;
    padding: 25
    px;        /* increased padding */
    border-radius: 10px;
    flex: 1;
    height: 150px;        /* fixed larger height */
    font-size: 20px;      /* bigger text */
    display: flex;
    align-items: center;
    justify-content: center;
}

