body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #34b4e3, #154f76);
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

/* Floating shapes */
.square {
    position: absolute;
    bottom: -120px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    animation: floatUp 12s linear infinite;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-110vh) rotate(360deg);
        opacity: 0;
    }
}

/* ===== Login Card ===== */
.form-card {
    background: #fff;
    
	padding: 2rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    z-index: 2;
    text-align: center;
	
}

h2 {
    margin-bottom: 1.5rem;
    color: #154f76;
    font-weight: bold;
}

/* ===== Two Buttons ===== */
.social-login {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-login button {
    flex: 1;
    padding: 12px;
    border: none;
    background-color: #2193b0; /* same color for both */
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.social-login button:hover {
    background-color: #34b4e3; /* slightly darker on hover */
}

.social-login button.active {
    background-color:  #5c4fc1 !important; /* active button highlight */
}


.faculty {
    background: #00b894;
}

.faculty:hover {
    background: #00b894;
}

.admin {
    background: #00b894;
}

.admin:hover {
    background: #008f70;
}

/* ===== Inputs & Button ===== */
form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    background: #2193b0;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background: #176B87;
}



/* ===== Responsive ===== */
@media (max-width: 768px) {
    .form-card {
        padding: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .social-login button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .form-card {
        padding: 1rem;
        border-radius: 12px;
    }

    h2 {
        font-size: 1.2rem;
    }

    .social-login {
        flex-direction: column;
    }

    .social-login button {
        width: 100%;
    }
}

